<footer class="siteFooter">
  <div class="wrap">
    <div class="footerTop">
      <div class="footerCol">
        <a class="footerBrand" id="footerBrand" href="#">
          <img class="footerLogo" id="footerLogo" src="" alt="" width="42" height="42">
          <span id="footerBrandName"></span>
        </a>
        <p class="footerAbout" id="footerAbout"></p>
        <div class="footerSocial" id="footerSocial"></div>
      </div>
      <div class="footerCol">
        <h2 class="footerColTitle" id="footerShopTitle"></h2>
        <ul id="footerShopLinks"></ul>
      </div>
      <div class="footerCol">
        <h2 class="footerColTitle" id="footerHelpTitle"></h2>
        <ul id="footerHelpLinks"></ul>
      </div>
      <div class="footerCol">
        <h2 class="footerColTitle" id="footerReachTitle"></h2>
        <div id="footerReachList"></div>
      </div>
    </div>
    <div class="footerBottom">
      <span id="footerCopyright"></span>
      <div class="footerBottomLinks" id="footerLegalLinks"></div>
    </div>
  </div>
</footer>